*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(230, 230, 230);
}
.heading{
    background-color: rgb(82, 75, 200);
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}

h1{
    border: 3px solid red;
    border-collapse: 10px;
}
h1, .subtitle{
    color: white;
}
.container{
    width: 50%;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.question{
    width: auto;
    height: auto;
    background-color: rgb(246, 244, 244);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box{
    padding: 20px;
    border: 5px solid #800080;
    margin: 10px;
    width: 200px;
    height: auto;
    background-color: lightgoldenrodyellow;
    margin-bottom: 20px;
}

.fixed{
    position: fixed;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(82, 75, 200);
    bottom: 20px;
    right: 30px;
    border-radius: 5px;
    color: white;
}
